<!--
$$hashKey:"object:549"
etdStd:"2016-03-18T11:30:03.467+0000"
flightNumber:"SA1104"
lpn:"1234567890"
storeLocation:"PB Store 1"
storeStation:"(S)OOG PBStore"
taskDescription:"Deliver"
taskDestinations:"240"
taskType:"OTHER"
-->

<div id="station-offline">

    <!-- HEADER -->
    <div class="bar bar-header bar-header-vanderlande">

        <!-- LOGOUT -->
        <button class="button button-icon icon ion-power header-icon" ng-click="vm.logout()"></button>

        <!-- TITLE -->
        <div class="h1 title" ng-click="vm.back()">{{vm.currentStation}}</div>

        <!-- MONITORED STATIONS -->
        <button class="button button-icon icon ion-upload header-icon" ng-click="vm.sync()"></button>
    </div>

    <!-- SUBHEADER -->
    <div on-touch="vm.scan()" class="bar bar-subheader bar-subheader-vanderlande">
        <h2 class="title subheader">Scan</h2>
    </div>

    <!-- CONTENT -->
	<ion-content class="has-header has-subheader" overflow-scroll="false" scrollbar-y="false" style="padding-left=0">
        <div class="list">
            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="Enter bag tag" ng-model="vm.lpn">
                </label>
                <button class="button button-clear button-dark icon" ng-click="vm.add(vm.lpn)">
                    Add
                </button>
            </div>
			<div class="item" style="color: black;"><img class="image-responsive list-station-icon" ng-src="images/BagIcon.png"> {{vm.bagsNr}} <span class="pull-right" style="color: red; float: right;">OFFLINE MODE</span></div>
        </div>

        <!-- NO BAGS TO PROCESS -->
        <div class="scanbag" ng-show="!vm.isExist">
            Scan Bag
            <br><span>for</span>
            <br>Task
        </div>

        <!-- BAGS TO PROCESS LIST -->
        <ion-list ng-show="vm.isExist" class="list-station-details" can-swipe="true">
            <!-- BAG ITEMS -->
            <ion-item class="item-station-details" ng-repeat="bags in vm.records" item="station">
                <div class="box">
                    <!-- BAG DETAILS -->
                    <div class="row bag-details">

                        <!-- TIME LEFT -->
                        <div class="bag-detail-time">
                            <span>15 Minutes</span>
                        </div>

                        <!-- COL 2 -->
                        <div class="col">

                            <!-- BAG TAG -->
                            <div id="bag-tag" class="col">
                                <div class="row bag-tags-value--offline">{{bags.LPN}}</div>
                            </div>
							<!-- STATION -->
							<div id="bag-station" class="col">
								<div class="row bag-station-value--offline">{{bags.StationName}}</div>
							</div>
                        </div>
                    </div>
                </div>
                <!-- SLIDE OPTIONS -->
				<!-- DELETE/MISSING -->
				<ion-option-button ng-hide="false" class="button-assertive" ng-click="vm.removeRecords(bags.LPN)">
					<i class="icon ion-ios-trash"> Remove</i>
				</ion-option-button>
            </ion-item>
        </ion-list>

    </ion-content>
</div>