<div id="station-monitor">

	<!-- HEADER -->
	<div class="bar bar-header bar-header-vanderlande">

		<!-- back -->
		<button class="button button-icon icon ion-ios-arrow-left header-icon" ng-click="vm.back()"></button>

		<!-- TITLE -->
		<div class="h1 title">{{vm.currentStation}}</div>

		<!-- show people -->
		<button ng-hide="true" class="button button-icon icon ion-person-stalker white" ng-click="vm.overview()"></button>

	</div>

	<ion-content class="has-header" scrollbar-y="false" style="padding-right=0;">
		<div class="list">
			<div class="row" style="color: black; padding-top: 20px; text-align: center">
				<div class="col col-center">
					<h2>Uploading</h2>
				</div>
			</div>
			<div class="row">
				<div class="col col-center">
					<div class="progress-wrapper" style="text-align: center;
														 ">
						<div class="progress ng-binding" ng-style="getStyle()" style="top: 50%; bottom: auto; left: 50%; transform: translateY(-50%) translateX(-50%); font-size: 35.7143px;">32/50
						</div>
						<div class="round-progress-wrapper ng-isolate-scope" max="max" current="current" color="#45ccce" bgcolor="#eaeaea" radius="125" semi="isSemi" rounded="rounded" stroke="15" clockwise="clockwise" responsive="responsive" duration="800" animation="easeOutCubic" offset="0" animation-delay="0" on-render="showPreciseCurrent" style="width: auto; position: relative; padding-bottom: 0px;">
							<svg class="round-progress" xmlns="http://www.w3.org/2000/svg" role="progressbar" aria-valuemin="0" viewBox="0 0 250 250" aria-valuemax="50" aria-valuenow="32" style="top: 0px; left: 0px; position: static; width: 250px; height: 250px; overflow: hidden;">
								<circle fill="none" cx="125" cy="125" r="117.5" style="stroke: rgb(234, 234, 234); stroke-width: 15;"></circle>
								<path fill="none" transform="" style="stroke: rgb(69, 204, 206); stroke-width: 15; stroke-linecap: butt;" d="M 34.46477763500931 199.89741992433176 A 117.5 117.5 0 1 0 125.00000000000001 7.5"></path>
								<g ng-transclude="">
								</g>
							</svg>
						</div>
				</div>
			</div>
		</div>	


	</ion-content>


	</div>