<div id="station-monitor">

    <!-- HEADER -->
    <div class="bar bar-header bar-header-vanderlande">

        <!-- back -->
        <button class="button button-icon icon ion-ios-arrow-left header-icon" ng-click="vm.back()"></button>

        <!-- TITLE -->
        <div class="h1 title">{{vm.currentStation}}</div>

        <!-- show people -->
        <button ng-hide="true" class="button button-icon icon ion-person-stalker white" ng-click="vm.overview()"></button>

    </div>

    <ion-content class="has-header" scrollbar-y="false" style="padding-right=0;">
        <div class="list">
            <div class="row" style="color: black; padding-top: 20px; text-align: center">
                <div class="col col-center">
                    <h2>{{vm.message}}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col col-center">
                    <div class="progress-wrapper" style="text-align: center;">
                        <div class="progress" ng-style="getStyle()">{{ preciseCurrent || current }}/{{ vm.bagsNr }}</div>
                        <round-progress max="vm.bagsNr" current="current" color="{{ getColor() }}" bgcolor="{{ bgColor }}" radius="{{ radius }}" semi="isSemi" rounded="rounded" stroke="{{ stroke }}" clockwise="clockwise" responsive="responsive" duration="{{ duration }}" animation="{{ currentAnimation }}" offset="{{ offset }}" animation-delay="{{ animationDelay }}" on-render="showPreciseCurrent">

                            <svg>
                                <linearGradient id="gradient" x1="0" x2="0" y1="0" y2="1">
                                    <stop offset="5%" stop-color="green" />
                                    <stop offset="95%" stop-color="gold" />
                                </linearGradient>
                            </svg>
                        </round-progress>
                    </div>

                </div>
            </div>
                    <button id="syncButton" ng-click="vm.logout()" class="button button-block button-sync">Exit Sync</button>
        </div>


    </ion-content>


</div>